  
body{
    font-family: "Inter", sans-serif;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 100%;
}

.section {
    height: 100vh;              /* 每一页占据整个视口 */
    display: flex;
    justify-content: center;    /* 水平居中 */
    align-items: center;        /* 垂直居中 */
    flex-direction: column;
    
    box-sizing: border-box;
  }
  
  .section-1 {
    background-color: yellow;    /* 你已有的第一页 */
  }

.box1{
    /*background-color: antiquewhite;
    border: 2px solid red;*/
    display: flex;

    margin: 0 0 0 0;
    position: absolute;
    z-index: 3;
    top: 6vh;
    right: 3vw;
    

    img{
        width: 66vw;   
        height: auto
    }
 
}

.footer-wrap {
    position: absolute;
    bottom: 6vh;
    left: 3vw;
    right: 3vw;
  
    display: flex;
    align-items: center;   /* 垂直方向居中对齐 */
    justify-content: space-between; /* 两边留空 */
    z-index: 10;
  }

.box2{
    /* background-color: azure;
    border: 2px dashed blue;  */
    display: flex;

    img{
        width: 22vw;   
        height: auto
    }
}


.text1, .text2 {
    margin: 0;
  }

.boxtext{
     /*background-color:aquamarine;
     border: 2px dashed black; */
     display: flex;
     flex-direction: column;
     justify-content: flex-end;   /* 控制内容在垂直方向靠下排列 */
     align-items: flex-end; 
     gap: 0.01vh;

.text1 a{
    font-size: 6vh;
    color: inherit;             /* 继承 h1 的颜色 */
    text-decoration: none;  
}
.text2{
    font-size:6vh;
}

}


.information {
    font-weight:500;
    font-size: 6vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* 精确居中 */
  }

.highlight {
    color: #3f48ff;          /* 你想要的蓝色 */
    font-weight:600;       /* 可选：加粗 */
  }

.highlightdesigner{
    color: red;
    font-weight:600;
}




.section-2 {
    background-color: black;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding:1vh 0 0 0;
    margin: 0;

    background: url('folder01.svg') no-repeat center center;
    background-size: 100% 100%; 
    /* 关键：让背景从 padding 内部开始绘制 */
    background-origin: content-box;
    background-clip: content-box;
  
  }

.section-3{
    background-color: #3f48ff;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding:1vh 0 0 0;
    margin: 0;

    background: url('folder02.svg') no-repeat center center;
    background-size: 100% 100%; 
    /* 关键：让背景从 padding 内部开始绘制 */
    background-origin: content-box;
    background-clip: content-box;
}

.section-4{
    background-color: red;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding:1vh 0 0 0;
    margin: 0;

    background: url('folder03.svg') no-repeat center center;
    background-size: 100% 100%; 
    /* 关键：让背景从 padding 内部开始绘制 */
    background-origin: content-box;
    background-clip: content-box;
}